:root {
  --bg-primary: #080421;
  --bg-purple: #5136a9;
  --font-primary: #ffffff;
  --font-dark-purple: #150866;
  --font-golden: #f3ca51;
  --font-grayed-out-1: #8e7ea5;
  --font-grayed-out-2: #604784;
  --font-grayed-out-3: #b6b2cc;
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--bg-primary);
}
::-webkit-scrollbar-thumb {
  background: var(--font-golden);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--font-grayed-out-2);
}
body {
  background-color: var(--bg-primary);
  position: relative;
  font-family: inter, sans-serif;
  /* font-family: "Poppins"; */
  color: var(--font-primary);
}

#navbar {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 999;
}
.navbar-move {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.navbar-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.nav-list {
  height: 100%;
  width: 100%;
  gap: 2rem;
}
.navbar-item {
  list-style: none;
}

.navbar-item > a {
  color: var(--font-primary);
  text-decoration: none;
  font-size: 14px;
}
p {
  color: white;
}
.scrible-decoration {
}
.container {
  width: 100%;
  max-width: 1255px;
  padding-right: 40px;
  padding-left: 40px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.flex {
  display: flex;
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: flex-start;
  justify-content: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.font-weight-300 {
  font-weight: 300;
}
.h1 {
  font-size: 85px;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: -0.04em;
}

.h2 {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -0.04em;
}
h3 {
  font-size: 36px;
  line-height: 1.25em;
  font-weight: 600;
}
h4 {
  font-size: 24px;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: 1px;
}
.p-y {
  padding: 32px 0;
}
.p-l {
  padding-left: 70px;
}
.p-t {
  padding: 32px 0;
}
.margin-b-16 {
  margin-bottom: 16px;
}
.margin-b-32 {
  margin-bottom: 32px;
}
.margin-b-80 {
  margin-bottom: 80px;
}

.inline-text {
  display: inline;
}
.direction-column {
  flex-direction: column;
}

.support-to-scale {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}
.key > h2 {
  font-size: 36px;
}
.value > h2 {
  font-size: 36px;
}
.key {
  grid-row: 1;
  grid-column: 1/3;
}
.value {
  grid-row: 1;
  grid-column: 4/13;
}

.key-heading {
  font-family: Poppins, sans-serif;
  color: #8579b4;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.branding-headline {
  margin-top: 0;
  margin-bottom: 0;
  overflow-wrap: break-word;
}
.strong {
  font-weight: 600;
}
.light {
  font-weight: 600;
  font-size: 34px;
  padding-top: 20px;
}
.text-bold {
  font-weight: 700;
}
.network {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.value-connect {
  grid-row: 1;
  grid-column: 4/13;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.icon-medium {
  height: 53px;
  width: 53px;
}
.icon-large {
  height: 115px;
  width: 115px;
}
.icon-extra-large {
  min-height: 250px;
  min-width: 250px;
}

.stats-text {
  display: flex;
  font-size: 56px;
  line-height: 60px;
  font-weight: 700;
}
.brand-div {
  display: flex;
  align-items: flex-end;
  gap: 0px;
}
.brand-div-2,
.brand-div-1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.inner-brand {
  grid-row: 1;
  grid-column: 1/7;
}
.lower-brand {
  grid-row: 1;
  grid-column: 4/11;
}
.inline-block {
  display: inline-block;
}
.branding-container {
  z-index: 999;
  grid-row: 1;
  grid-column: 1/12;
}
.text-linear-gradient {
  /* background-image: linear-gradient(315deg, #9887fe, #fff 100%, #dad0ff); */
  background-image: linear-gradient(91deg, #9887fe, #fff 60%, #dad0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.hero-images {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-image {
  border: 0;
  max-width: 100%;
  display: block;
  width: 185px;
  flex: 0 0 auto;
  object-fit: contain;
}
.hero-images-wrapper {
  grid-row: 1;
  grid-column: 7/10;
}
.inner-hero-images {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.animation-button-golden {
  background-color: var(--font-golden);
}
.animation-button-purple {
  background-color: var(--font-dark-purple);
}
.animation-button {
  border: none;
  border-radius: 100%;
  font-family: popons, sans-serif;
  color: black;
  font-weight: 600;
}

.animate-arrow:hover .arrow-svg {
  transform: rotate(0deg);
}

.arrow-left {
  height: 25px;
  transform: rotate(180deg);
  transition: all ease-in-out 250ms;
}
.arrow-right {
  height: 25px;
  transform: rotate(0deg);
  transition: all ease-in-out 250ms;
}
.arrow-bottom-right {
  height: 25px;
  transform: rotate(45deg);
  transition: all ease-in-out 250ms;
}
.arrow-large {
  height: 60px !important;
}

.animation-button-large {
  min-height: 130px;
  min-width: 130px;
}
.animation-button-small {
  min-height: 48px;
  min-width: 48px;
}
.right-align {
  text-align: right;
}
.text-center {
  text-align: center;
}
.arrow-svg {
  height: 25px;
  transform: rotate(-45deg);
  transition: all ease-in-out 250ms;
}
.learn-more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 16px;
  padding: 2rem 3rem 0 0;
}
.learn-more-link {
  cursor: pointer;
}
.learn-more > .flex-center > p {
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: 1px;
}
.learn-more > .flex-center {
  column-gap: 16px;
}
.line {
  line-height: 3rem;
}
.card-holder {
  position: relative;
  z-index: 5;
  display: flex;
  width: 100vw;
  height: 640px;
  justify-content: flex-start;
}

.card-paragraph {
  color: var(--font-dark-purple);
  font-size: 18px;
  max-width: 33ch;
}
.card-paragraph-large-width {
  color: var(--font-dark-purple);
  font-size: 18px;
  max-width: 45ch;
}
.card-paragraph-full-width {
  color: var(--font-dark-purple);
  font-size: 18px;
  max-width: 100%;
}
.footer-logo-container {
  height: auto;
  width: 100px;
}
.font-golden {
  color: var(--font-golden);
}
.font-white {
  color: white;
}
.font-purple {
  color: var(--font-dark-purple);
}
.font-gray {
  color: var(--font-grayed-out-3);
}

.font-size-24 {
  font-size: 24px;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between !important;
}
.card-image {
  position: absolute;
  right: -135px;
  bottom: -20px;
  display: block;
  width: 535px;
  height: 430px;
  -o-object-fit: contain;
  object-fit: contain;
}
.gap {
  gap: 5px;
}
.gap-20 {
  column-gap: 30px;
}
.gap-15 {
  gap: 15px;
}
.gap-56 {
  gap: 56px;
}
.width-full {
  width: 100%;
}
.footer-column-wrapper {
  display: flex;
  width: 620px;
  grid-row: 1;
  grid-column: 6/13;
}
.footer-column-heading {
  color: var(--font-grayed-out-2);
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 700;
}
.footer-link {
  color: var(--font-grayed-out-1);
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 500;
}
.for-creators-wrapper {
  align-items: center;
}
.for-creators-heading {
  grid-row: 1;
  grid-column: 1/5;
}
.for-creators-image-div {
  grid-row: 1;
  grid-column: 6/13;
  position: relative;
  overflow: hidden;
  width: 700px;
  height: 45vw;
  max-height: 555px;
  max-width: 100%;
  border-radius: 1000px;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
.for-creators-image-div > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dark-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(8, 4, 33, 0.5);
  background-image: linear-gradient(
    0deg,
    rgba(8, 4, 33, 0.8),
    rgba(8, 4, 33, 0) 65%
  );
}
.line-divider {
  width: 100%;
  height: 1px;
  background-color: #3c3663;
}
.relative {
  position: relative;
}
.for-creators-heading-deco {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  height: auto;
  max-width: none;
}
.for-creators-heading-deco-large {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  height: auto;
  max-width: none;
}
.for-creators-formula-grid {
  display: grid;
  row-gap: 160px;
  grid-template-columns: repeat(2, 1fr);
}
.formulas {
  justify-self: center;
}
.for-creators-grid-item {
  row-gap: 24px;
}
.line-height-lg {
  line-height: 1.6em;
}
.joining-offer-div {
  align-items: center;
  justify-content: center;
}
.joining-offer-heading {
  margin-bottom: 32px;
}
.joining-offer {
  grid-row: 1;
  grid-column: 1/9;
}
.joining-offer-button {
  position: relative;
  grid-row: 1;
  grid-column: 8/13;
}

.for-brands-image-div {
  grid-row: 1;
  grid-column: 5/13;
}
.for-brands-image-div > img {
  max-width: 80%;
}
.for-brands-strength-column-2 {
  grid-row: 1;
  grid-column: 2/5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.for-brands-icon-div {
  height: 100%;
}
.for-creators-benefit-section-deco {
  position: absolute;
  z-index: -1;
  width: 1200px;
  height: 1200px;
  border-radius: 100%;
  background-image: radial-gradient(
    circle farthest-side at 50% 50%,
    #7e97ec,
    #6c8dff 35%,
    rgba(207, 54, 210, 0.4) 70%,
    rgba(8, 4, 33, 0)
  );
  opacity: 0.3;
}

.home-hero-deco {
  position: absolute;
  top: -1100px;
  z-index: -1;
  width: 1750px;
  height: 1750px;
  border-radius: 100%;
  background-image: radial-gradient(
    circle farthest-side at 50% 50%,
    #7e97ec,
    #6c8dff 35%,
    rgba(207, 54, 210, 0.4) 70%,
    rgba(8, 4, 33, 0)
  );
  opacity: 0.4;
}

.home-subhero-deco {
  position: absolute;
  left: -1150px;
  top: -300px;
  z-index: 1;
  display: none;
  width: 1750px;
  height: 1750px;
  border-radius: 100%;
  background-image: radial-gradient(
    circle farthest-side at 50% 50%,
    #7e97ec,
    #6c8dff 35%,
    rgba(207, 54, 210, 0.4) 70%,
    rgba(8, 4, 33, 0)
  );
  opacity: 0.4;
}
.footer-deco {
  position: absolute;
  top: 10px;
  z-index: -1;
  width: 1750px;
  height: 1750px;
  border-radius: 100%;
  background-image: radial-gradient(
    circle farthest-side at 50% 50%,
    #7e97ec,
    #6c8dff 35%,
    rgba(207, 54, 210, 0.4) 70%,
    rgba(8, 4, 33, 0)
  );
  opacity: 0.4;
}

section,
footer {
  position: relative;
}

.page-wrapper {
  overflow: hidden;
}
.width-50 {
  width: 49ch;
}
.music-img {
  display: block;
  width: 90px;
  height: auto;
}
.rotating-text {
  display: block;
  width: 135px;
  height: 135px;
  position: absolute;
  animation: rotate 10s linear infinite;
}
.for-creators-page-button-width {
  width: 350px;
  height: 350px;
}
.music-images-div {
  flex-wrap: wrap;
}
.hide-on-mobile {
  display: block;
}
.show-on-mobile {
  display: none;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media (hover: hover) {
  .first-card {
    position: relative;
    z-index: 4;
    overflow: hidden;
    width: 50vw;
    padding: 80px 80px 80px 5.5vw;
    flex: 0 0 auto;
    background-color: var(--font-golden);
    color: #150866;
    text-decoration: none;
    transition: all 250ms ease-in-out;
  }
  .second-card:hover ~ .first-card {
    opacity: 0.5;
  }
  .first-card:hover ~ .second-card {
    opacity: 0.5;
  }

  .first-card:hover {
    z-index: 6;
    width: 60vw;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
  }
  .second-card:hover {
    z-index: 10;
    width: 60vw;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
  }

  .second-card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    overflow: hidden;
    width: 50vw;
    padding: 80px 5.5vw;
    flex: 0 0 auto;
    background-color: var(--bg-purple);
    color: #fff;
    text-decoration: none;
    transition: all 250ms ease-in-out;
  }
}

@media screen and (max-width: 767px) {
  /* Helping classes start */
  .h1 {
    font-size: 40px;
  }
  .h2 {
    font-size: 28px;
  }
  .h3 {
    font-size: 24px;
  }
  .right-align {
    text-align: left;
  }
  .icon-medium {
    height: 50px;
    width: 50px;
  }
  .icon-large {
    height: 60px;
    width: 60px;
  }
  .margin-b-80 {
    margin-bottom: 32px;
  }
  .p-l {
    padding: 0;
  }
  /* Helping classes end */

  .first-card {
    position: relative;
    width: 100vw;
    height: 100%;
    background-color: var(--font-golden);
    overflow: hidden;
    padding: 80px;
  }
  .card-holder {
    width: 100vw;
    height: 640px;
    z-index: 999;
  }
  .second-card {
    width: 100vw;
    height: 100%;
    background-color: var(--bg-purple);
    position: relative;
    overflow: hidden;
    padding: 80px;
  }
  .first-card:hover {
    width: 100vw;
    border-radius: 0;
  }
  .first-card:hover ~ .second-card {
    opacity: 1;
  }
  .second-card:hover {
    width: 100vw;
    border-radius: 0;
  }
  .card-image {
    right: -75px;
    bottom: -35px;
    width: 450px;
    height: 350px;
  }
  .network,
  .support-to-scale,
  .grid,
  .for-creators-formula-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr;
  }
  .key-connect {
    grid-row: 1;
  }
  .value-connect {
    grid-row: 2;
    grid-column: 1;
  }
  .for-creators-formula-grid {
    row-gap: 80px;
  }
  .grid-3 {
    row-gap: 56px;
    grid-template-columns: 1fr;
  }
  .mobile-div {
    grid-row: 2;
    grid-column: 1/13;
  }
  .key,
  .footer-logo {
    grid-row: 1;
  }
  .value,
  .footer-column-wrapper {
    grid-row: 2;
    grid-column: 1;
  }
  .footer-column-wrapper {
    width: 100%;
  }
  .for-brands-strength-column-2 {
    flex-direction: column;
    align-items: flex-start;
    grid-row: 2;
    grid-column: 1;
  }
  .for-creators-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
  .card-paragraph,
  .card-paragraph-large-width,
  .card-paragraph-full-width {
    font-size: 16px;
  }
  .for-creators-image-div {
    height: 65vw;
    margin-bottom: 24px;
  }
  .for-creators-heading-deco {
    bottom: -16px;
  }
  .for-creators-heading-deco-large {
    bottom: -32px;
  }
  .for-brands-image-div {
    margin-bottom: 24px;
    justify-content: center;
  }
  .footer-logo-container {
    width: 200px;
    margin-bottom: 32px;
  }
  .joining-offer-button {
    transform: scale(0.4);
  }
  .joining-offer-heading {
    margin-bottom: 0px;
  }
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }
  .card-holder {
    flex-direction: column;
  }
  .info-icon-container {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;
  }
  .formulas {
    justify-self: normal;
    flex-direction: column;
  }
  .text-center-mobile {
    text-align: center;
  }
}
